.DS_Store
.sass-cache
bower_components
builds/**/images
builds/stockphotos
components/sass/bootstrap
components/sass/wordpress
components/scripts/*
!components/scripts/javascript.js
node_modules
projectnotes

.tmp
