@import "wordpress/style";
@import "bootstrap/bootstrap";
/* my imports */
@import "header/header";
@import url('https://fonts.googleapis.com/css?family=Bevan|Lora|Raleway');

// GLOBAL STYLES
body {
  background-color: #ddd;
  p {
    font-family: 'Lora', serif;
  }
  a {
    color: #1d7ab5 !important;
    &:visited {
      color: #1d7ab5;
    }
  }
  #{headings()} {
    font-family: 'Raleway', sans-serif;

  }
}

div.container-fluid {
  background-color: white;
  margin-top: 0;
}
div#primary.content-area {
  margin-top: 44px;
}

// HEADER NAVIGATION
#catalog-header {
  display: flex;
  // height: 24px;
  // background-color: white;

  a {
    color: #000;
    &:visited {
      color: #000;
    }
  }

  background-color: #46CFFF;
  // justify-content: space-between;
  .test {
    display: flex;
    justify-content: space-between;
    // align-items: flex-end;
    background-color: inherit;
    p {
      margin-bottom: 0;
    }
  }
}

#search-header {
  display: flex;
  // height: 48px;
  background-color: #fff;
  padding-top: 10px;
  .test {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
    p {
      margin-bottom: 0;
    }
  }
  form.form-inline {
    // display: none;
  }
  // @include media-breakpoint-up(lg) {
  //   form.form-inline {
  //     display: block;
  //   }
  // }
}

// NAVIGATION
nav.navbar, .navbar-brand {
  // top: 148px;
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
  position: relative !important;
}

.fixed-top {
  position: relative !important;
}

.bg-inverse {
  background-color: #fff !important;
}

.mr-auto {
  // margin-right: 10px !important;
  // margin-left: auto !important;
}

.navbar-inverse .navbar-nav .nav-link {
  color: #1d7ab5;
  &:visited, &:active, &:hover, &:focus {
    color: #1d7ab5;
  }
}

.navbar-inverse .navbar-nav .open > .nav-link,
.navbar-inverse .navbar-nav .active > .nav-link,
.navbar-inverse .navbar-nav .nav-link.open,
.navbar-inverse .navbar-nav .nav-link.active {
  color: #1d7ab5;
}

.main-navigation {
	ul {
		// display: flex;
    justify-content: flex-start;
    // padding-left: 20px;
    // margin-left: auto;
    // margin-right: 20px;

    li {
  		float: none;
    }
  }
}

.dropdown-menu {
  color: #000;
  a:visited {
    color: #000;
  }
  @include media-breakpoint-up(sm) {
    // width: 800px;
  }
}

// BOOTSTRAP TO WORDPRESS CORRECTIONS
ul.navbar-nav {
  // margin-left: auto !important;
  // display: flex;
  // align-items: center;
  padding-top: 6px;

  > li > a {
    display: block;
    padding: $nav-link-padding;
    color: white;
    // margin-right: auto;

    @include hover-focus {
      text-decoration: none;
    }
  }
}

.navbar-inverse .navbar-toggler {
    // border-color: #1d7ab5;
    border-color: rgba(0, 0, 0, 0.3);
    // background-color: #1d7ab5;
}

@include media-breakpoint-down(sm) {
  .navbar-toggler-right {
    top: -66px;
    // right: -166px;
  }
} // end breakpoint

@include media-breakpoint-down(xs) {
  .navbar-toggler-right {
    top: 0;
    // justify-content: flex-end !important;
    right: -200px;
  }
} // end breakpoint

.navbar-toggler {
    // align-self: flex-start;
    // padding: 0.25rem 0.75rem;
    // font-size: 1.25rem;
    // line-height: 1;
    background: rgba(70, 207, 235, 0.55);
    // border: 1px solid transparent;
    // border-radius: 0.25rem;
}

.navbar-inverse .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
// BS TO WP DROPDOWN MENU CORREX
.navbar .dropdown-menu li {
  width: 100%;
  // margin-left: 0 !important;
}

// .navbar-collapse > form {
//   margin-right: auto;
// }

/*
Bootstrap 4.0.0-alpha2 navbar with dropdown menus
=================================================
A small CSS modification is required. Add this to your theme CSS.
*/

.navbar .dropdown-menu li {
  width: 100%;
  margin-left: 0 !important;
}

li > a {
  color: #fff;
}
// Does not override BS
li.menu-item a {
  color: white;
}

.navbar-toggleable-md .navbar-collapse {
    justify-content: flex-end;
}

// BS variables are not throwing errors but
// are not overriding them either
// dont use this approach
// $navbar-inverse-color: blue;

// JUMBOTRON
.jumbotron, .jumbotron-single {
    margin-bottom: 0;
    // margin-top: 22px;
    max-height: 450px;
    background-position: -80px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    color: #000;
    padding: 0;
    margin-bottom: 18px;
    border: 1px;
    border-color: #0bd851;
    // height: 180px;


    // @include media-breakpoint-up(sm) {
    //   height: 240px !important;
    //   background-position: 0 0;
    // }
    //
    // @include media-breakpoint-up(md) {
    //   height: 320px !important;
    //   background-position: 0 0;
    // }
    //
    // @include media-breakpoint-up(lg) {
    //   height: 420px !important;
    //   background-position: 0 0;
    // }

    // SETS JUMBOTRON HEADER TO DISPLAY FONT
    h1, h1.display-3 {
      font-family: 'Bevan', cursive, Times !important;
    }

    // text-shadow: black 0.3em 0.3em 0.3em;
    img {
      height: auto;
      width: auto;
      // height: 100%;
      // position: relative;
    }
    .jumbotron-copy {
      position: absolute;

      p, #{headings()} {
        display: none;
      }
      top: 1%;
      left: 5%;
      color: #1d7ab5;

      a:visited {
        color: white;
      }

      @include media-breakpoint-up(sm) {
        #{headings()} {
          display: block;
          font-size: 1.8rem;
        }
        p {
          display: block;
        }
      }
      @include media-breakpoint-up(md) {
        #{headings()} {
          font-size: 2.2rem;
        }
      } // end md breakpoint

      @include media-breakpoint-up(lg) {
          #{headings()} {
            font-size: 4rem;
          }
      } // end md breakpoint


    }
}
// .jumbotron-single {
//     margin-top: 22px;
//     margin-bottom: 0px;
//     background-position: 0% 0%;
//     background-size: contain;
//     background-repeat: no-repeat;
//     color: #777;
//     position: relative;
//     // height: 480px;
//     img {
//       max-height: 480px;
//     }
//
// }

// ARTICLE
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  div.row {
    // margin-right: 0;
  }
}



.card {
  margin-bottom: 24px;
  a:visited {
    color: white !important;
  }
}
.card-title {
  text-align: center;
  color: #1d7ab5;
  margin-top: 14px;
  font-weight: 600;
  a {
    color: #1d7ab5 !important;
    &:visited {
      color: #1d7ab5 !important;
    }
  }
}
.card-img-top {
  // margin-top: 16px;
  // margin-bottom: 16px;
  // width: 100%
}

a.btn.btn-primary {
  margin-bottom: 16px;
  // &:visited {
  //   color: white;
  // }
}

a.card-img-top {
  position: relative;
  // width: 100%;
}

aside {
  .card {
    border: none;
  }
}

.side-items {
  display: flex;
  justify-content: center;
  > img {
    // width: 50%;
  }
}


.sidebar-text {
  padding-left: 16px;
}

.tiny {
  font-size: .85rem;
}

// FOOTER
footer.footer {
  display: flex;
  background-color: #1d7ab5 !important;
  // height: 200px;
  padding: 15px !important;

  ul {
    // display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: circle;
    padding-top: 18px;
    // padding-left: 66px;
    // padding-right: 66px;
    margin-top: 24px;
    li > a {
      font-weight: 200;
      font-size: .75rem;
      color: white !important;

    }
    // text-align: center;
  }
  // margin-left: -15px !important;
  // margin-right: -15px !important;
  // @media (min-width: 992px){
  //   width: 960px;
  //   max-width: 100%;
  // }
  // @media (min-width: 768px){
  //   width: 720px;
  //   max-width: 100%;
  // }
  // @media (min-width: 576px){
  //   width: 540px;
  //   max-width: 100%;
  // }
}
